header {
  background-color: red;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  margin: 10px;
  border: black double; }

nav {
  margin: 10px; }

body {
  background-color: red;
  color: black;
  border: double black;
  margin: 10px; }

section {
  margin: 10px;
  border: black double; }

article {
  border: black double; }

footer {
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  border: double black; }
