
body {
    color: black;
    border: double black;
    margin: 10px;
    background-image: linear-gradient(to bottom, #fed2e5 , #fff0f6);
    
}

h2 {
    text-align: center;
    font-family: cursive;

}
